# Vagrant
.vagrant

# Ansible
*.retry
*.cache

# local
roles/*
!roles/README.md
!roles/local.*

# ruby/rails/bundler
.bundle/*
vendor/

# ignore dynamic testing vars
features/support/test_vars.rb

# BEGIN testup
features/
# END testup
