# REM: if you are looking for passwords or other variables
# that vary from dev to stage to prod, check the other subfolders

# setup vars
project:                      "catalyst-ansible"
version:                      "1.0.0"

mode:                         "deploy" # dev || deploy

app_repo:                     "git@github.com:jhu-library-applications/catalyst-blacklight.git" #"https://github.com/jhu-library-applications/catalyst-blacklight"
app_branch:                   "main"
app_name:                     "catalyst"
app_user:                     "{{ app_name }}"
app_group:                    "{{ app_user }}"
base_deploy_dir:              "/opt"
deploy_dir:                   "{{ base_deploy_dir }}/{{ app_name }}"

# deploy keys vars
deploy_user:                  "{{ login_user }}"
deploy_key_path:              "/home/{{ deploy_user }}/.ssh"
catalyst_deploy_keys:
- name:                       "catalyst_deploy_key"
  private_key:                "{{ vault_deploy_private_key }}"
  public_key:                 "{{ vault_deploy_public_key }}"
catalyst_deploy_key_full_path:  "{{ deploy_key_path }}/{{ catalyst_deploy_keys[0]['name'] }}"
solr_deploy_keys:
- name:                       "catalyst_solr_deploy_key"
  private_key:                "{{ vault_solr_private_key }}"
  public_key:                 "{{ vault_solr_public_key }}"
solr_deploy_key_full_path:    "{{ deploy_key_path }}/{{ solr_deploy_keys[0]['name'] }}"

# rails vars
rails_env:                    "development"
# NOTE: need to keep in sync with application Gemfile
# TODO: test updating to recent version
rails_version:                "4.2.4"
secret_key_base:              "" # will be generated

# apache vars
apache_remove_welcome:        true
apache_https:                 true
# TODO: only works for CentOS. + needs refactoring
apache_service:               "httpd"
apache_config_file:           "/etc/{{ apache_service }}/conf.d/01_{{ hostname }}.conf"
# NOTE: use this to override the whole apache config template
# apache_config_template:     "templates/apache.conf.j2"
apache_http_redirect_marker:  "http redirect"
# NOTE: uncomment to override apache defaults
# apache_header_mod_marker:     "header modification"
# apache_http_logging_marker:   "http logging"
# apache_https_logging_marker:  "https logging"
# apache_ssl_config_marker:     "ssl config"
# # NOTE: if you use these vars in your logging (or other) local templates,
# # as we do in our examples, you must define the values here,
# # they won't take values defined only in the role
# apache_log_level:             "debug"
# apache_log_path:              "/var/log/{{ apache_service }}"

# passenger vars
# TODO: adopt and move up
update_packages:        false
# NOTE: use this to override the passenger virtualhost sub-template
# passenger_virtualhost_template:     "templates/passenger_virtualhost.j2"

# ssh vars


# ssh vars
use_master_user:          true
deprivilege_deploy_user:  true
remote_user:              "{{ lookup('ini', 'remote_user section=cross-project file=~/.ansible.ini') }}"
login_user:               "{{ lookup('ini', 'login_user section=cross-project file=~/.ansible.ini') }}"
login_user_key:           "jhu_ssh_key"
create_login_user_key:    true
login_user_grant_sudo:    false
ssh_settings:
- regexp: "^PermitRootLogin"
  setting: "PermitRootLogin no"
- regexp: "^DenyUsers deploy"
  setting: "DenyUsers deploy"

# ip vars
# NOTE: we don't always have a 1:1 mapping of environments to groups
# when it comes to external resources, so centralizing ip vars here
webscanner_ip:          "{{ vault_webscanner_ip }}"
nagios_ip:              "{{ vault_nagios_ip }}"
findit_ip_prod:         "{{ vault_findit_ip_prod }}"
findit_ip_test:         "{{ vault_findit_ip_test }}"
refworks_ips:           "{{ vault_refworks_ips }}"
hopkins_ip_range:       "{{ vault_hopkins_ip_range }}"
# by default use test findit (for running tests, etc)
findit_ip:              "{{ findit_ip_test }}"

bantheman_configs:
  - ip: "{{ webscanner_ip }}"
    paths:
      - "^/catalog.*$"
      # - "^/catalog/bib_.*$"
      # - "^/catalog\\?.*$"

logrotate_configs:
  - name: "catalyst"
    path: "{{ deploy_dir }}/log"
    setype: "var_log_t"
    options:
      - "su catalyst catalyst"
      - "daily"
      - "rotate 24"
      - "compress"
      - "delaycompress"
      - "missingok"
      - "create 0600"
      - "dateext"

testup_cucumber_vars_template:  "templates/test_vars.rb"
testup_relative_path_to_root:   "../"
testup_cucumber_repo:           "https://github.com/dheles/catalyst-cucumber-tests.git"

# NOTE: set within inventory files for particular hosts
legacy_server:                  false

# jetty vars
jetty_base:             "/opt/jetty"
jetty_user:             "jetty"
jetty_group:            "{{ jetty_user }}"
jetty_port:             8080

# firewalld vars:
firewalld_update_packages:  false
firewalld_ipsets:
  - name: jetty_whitelist
    ips:
      - "{{ findit_ip_test }}"
jetty_accept_rule_nolog:    'rule family="ipv4" source ipset="jetty_whitelist" port port="{{ jetty_port }}" protocol="tcp" accept'
jetty_accept_rule:          'rule family="ipv4" source ipset="jetty_whitelist" port port="{{ jetty_port }}" protocol="tcp" log prefix="jetty-access-allowed" level="info" limit value="1/m" accept'
jetty_reject_rule:          'rule family="ipv4" source NOT ipset="jetty_whitelist" port port="{{ jetty_port }}" protocol="tcp" log prefix="jetty-access-denied" level="info" limit value="1/m" reject'
catalyst_http_accept_rule:  'rule family="ipv4" source ipset="catalyst_whitelist" service name="http" log prefix="catalyst-http-access-allowed" level="info" limit value="1/m" accept'
catalyst_http_reject_rule:  'rule family="ipv4" source NOT ipset="catalyst_whitelist" service name="http" log prefix="catalyst-http-access-denied" level="info" limit value="1/m" reject'
catalyst_https_accept_rule: 'rule family="ipv4" source ipset="catalyst_whitelist" service name="https" log prefix="catalyst-https-access-allowed" level="info" limit value="1/m" accept'
catalyst_https_reject_rule: 'rule family="ipv4" source NOT ipset="catalyst_whitelist" service name="https" log prefix="catalyst-https-access-denied" level="info" limit value="1/m" reject'
firewalld_richrules:
  - rule: "{{ jetty_accept_rule }}"
    state: enabled
  - rule: "{{ jetty_reject_rule }}"
    state: enabled
  # NOTE: this won't work (in leiu of the NOT whitelist reject rule). regardles of the order of the rules, both would be applied to the whitelisted IP (according to the logs), and access would be denied
  # TODO: write-up and remove
# - rule: 'rule family="ipv4" source address="0.0.0.0/0" port port="{{ jetty_port }}" protocol="tcp" log prefix="jetty-access-denied" level="info" limit value="1/m" reject'
#   state: disabled
firewalld_services:
- service: http
- service: https
- service: ssh

# fail2ban vars
fail2ban_failregex: '^<HOST>.*/catalog/bib_.*$'
fail2ban_logpath:   "/var/log/httpd/catalyst-ssl-access.log"
