{{ rails_env }}:
  adapter: mysql2
  database: {{ catalyst_db_name }}
  pool: 5
  host: {{ catalyst_db_host }}
  port: {{ catalyst_db_port }}
  username: {{ catalyst_db_user }}
  password: {{ catalyst_db_pass }}
