# database config vars
MYSQL_DATABASE={{ catalyst_db_name }}
MYSQL_SERVER={{ catalyst_db_host }}
MYSQL_USER={{ catalyst_db_user }}
MYSQL_PASSWORD={{ catalyst_db_pass }}
MYSQL_PORT={{ catalyst_db_port }}

# solr vars
SOLR_URL={{ solr_url }}

# horizon webservice vars
# NOTE: defaults to localhost:8080
# HORIZON_WS_URL

# hip server vars
HIP_HOST={{ hip_host }}
BORROWER_WS_USERNAME={{ borrower_ws_username }}
BORROWER_WS_PASSWORD={{ borrower_ws_password }}
# NOTE: defaults to localhost:8080
HORIZON_WS_URL={{ horizon_ws_url }}
FORCE_DEFAULT_JHED={{ force_default_jhed }}

# rails vars
SECRET_KEY_BASE={{ secret_key_base }}
RAILS_MASTER_KEY={{ rails_master_key }}

# borrow direct vars
BORROW_DIRECT_HOST={{ borrow_direct_host }}

# Flipper auth vars
FLIPPER_USERNAME={{ flipper_username }}
FLIPPER_PASSWORD={{ flipper_password }}

# Rollbar vars
ROLLBAR_ACCESS_TOKEN={{ rollbar_access_token }}
ROLLBAR_ENV={{ rollbar_env }}

# Sentry.io
SENTRY_DSN={{ sentry_dsn }}
SENTRY_CURRENT_ENV={{ sentry_env }}

# catalyst/findit vars
CATALYST_BASE_URL={{ catalyst_base_url }}
CATALYST_UMLAUT_BASE_URL={{ findit_base_url }}

# Google Books API key
GOOGLE_BOOKS_API_KEY={{ google_books_api_key }}