# database config vars
MYSQL_DATABASE={{ catalyst_db_name }}
MYSQL_SERVER={{ catalyst_db_host }}
MYSQL_USER={{ catalyst_db_user }}
MYSQL_PASSWORD={{ catalyst_db_pass }}
MYSQL_PORT={{ catalyst_db_port }}

# solr vars
SOLR_URL={{ solr_url }}

# horizon webservice vars
# NOTE: defaults to localhost:8080
# HORIZON_WS_URL
