{{ rails_env }}:
  database: {{ horizon_db_name }}
  pool: 5
  host: {{ horizon_db_host }}
  port: {{ horizon_db_port }}
  login: {{ horizon_db_user }}
  password: {{ horizon_db_pass }}
  jdbcType: jTDS-Sybase
