- name: install catalyst prereqs
  hosts: catalyst

  vars:
    catalyst_firewalld_rules:
      public:
        - apache:
          services:
            - http
            - https
      filtered:
        - jetty:
          zone_name: jetty
          allowed: "{{ vault_firewalld_jetty_whitelist }}"
          ports:
            - 8080/tcp

  roles:
  - { role: java,         tags: ['java'],        become: true }
  - { role: ansible-role-nodejs,                 become: true }
  - { role: chruby,       tags: ['chruby'],      become: true }
  - { role: ssl-certs,    tags: ['ssl-certs'],   become: true }
  - { role: apache,       tags: ['apache'],      become: true }
  - { role: passenger,    tags: ['passenger'] }
  - { role: deploy-keys,  tags: ['deploy-keys'], deploy_keys: "{{ catalyst_deploy_keys }}" }
  - { role: shib,         tags: ['shib'] }
  - { role: firewalld,    tags: ['firewalld'],   apps: "{{ catalyst_firewalld_rules }}", become: true }
  - { role: logrotate,    tags: ['logrotate'] }
